
# Riyadh Villas Aqar

## Import the Required Libraries

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import ast 
import arabic_reshaper
#from bidi.algorithm import get_display
import warnings
warnings.filterwarnings("ignore")

## Load the Data

In [56]:
df = pd.read_csv('RiyadhVillasAqar.csv')

## EDA (Exploratory Data Analysis)

In [57]:
print( 'Shape of DataFrame:', df.shape)

Shape of DataFrame: (46826, 26)

### checking first five rows

In [58]:
df.head()

,Unnamed: 0,front,rooms,lounges,bathrooms,streetWidth,stairs,propertyAge,driverRoom,tent,...,apartments,maidRoom,elevator,furnihsed,pool,basement,neighbourhood,location,price,square price
0,0,شرقية,5,4.0,5+,20.0,1.0,0.0,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,عكاظ,جنوب الرياض,1050000.0,3500.000000
1,1,غربية,4,3.0,5+,20.0,1.0,0.0,1.0,1.0,...,2.0,1.0,1.0,0.0,0.0,0.0,المهدية,غرب الرياض,3000000.0,5555.555556
2,2,جنوبية شرقية,7,2.0,5+,15.0,1.0,31.0,1.0,0.0,...,0,1.0,0.0,0.0,0.0,0.0,الشفا,جنوب الرياض,2000000.0,2285.714286
3,3,غربية,7,3.0,5+,15.0,1.0,3.0,0.0,1.0,...,0,1.0,0.0,1.0,0.0,0.0,ظهرة لبن,غرب الرياض,894000.0,4470.000000
4,4,شمالية,4,2.0,4,25.0,1.0,0.0,1.0,1.0,...,3.0,1.0,1.0,1.0,0.0,0.0,قرطبة,شرق الرياض,3500000.0,8750.000000

### checking last five rows

In [59]:
df.tail()

,Unnamed: 0,front,rooms,lounges,bathrooms,streetWidth,stairs,propertyAge,driverRoom,tent,...,apartments,maidRoom,elevator,furnihsed,pool,basement,neighbourhood,location,price,square price
46821,51840,جنوبية,5,2,5+,20.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,المونسية,شرق الرياض,2250000.0,5844.155844
46822,51841,غربية,7,2,5+,12.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,ظهرة البديعة,غرب الرياض,1050000.0,2100.000000
46823,51842,غربية,5,3,5+,20.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,طويق,غرب الرياض,1000000.0,5000.000000
46824,51843,جنوبية غربية,1,NaN,1,15.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,النهضة,شرق الرياض,2300000.0,5679.012346
46825,51844,شمالية,6,2,5+,15.0,1.0,0.0,0.0,1.0,...,2.0,1.0,0.0,0.0,0.0,0.0,المونسية,شرق الرياض,4100000.0,5466.666667

### Basic information about data

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46826 entries, 0 to 46825
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     46826 non-null  int64
 1   front          46826 non-null  object
 2   rooms          46826 non-null  int64
 3   lounges        45708 non-null  object
 4   bathrooms      46826 non-null  object
 5   streetWidth    46636 non-null  float64
 6   stairs         46826 non-null  float64
 7   propertyAge    46826 non-null  float64
 8   driverRoom     46826 non-null  float64
 9   tent           46826 non-null  float64
 10  patio          46826 non-null  float64
 11  kitchen        46826 non-null  float64
 12  outdoorRoom    46826 non-null  float64
 13  garage         46826 non-null  float64
 14  duplex         46826 non-null  float64
 15  space          46826 non-null  int64
 16  apartments     46826 non-null  object
 17  maidRoom       46826 non-null  float64
 18  elevator       46826 non-null  float64
 19  furnihsed      46826 non-null  float64
 20  pool           46826 non-null  float64
 21  basement       46826 non-null  float64
 22  neighbourhood  46826 non-null  object
 23  location       46826 non-null  object
 24  price          46824 non-null  float64
 25  square price   46824 non-null  float64
dtypes: float64(17), int64(3), object(6)
memory usage: 9.3+ MB

In [61]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,46826.0,2.591513e+04,1.499382e+04,0.000000,1.292525e+04,25836.5,38917.75,5.184400e+04
rooms,46826.0,4.687439e+00,1.104970e+00,1.000000,4.000000e+00,5.0,5.00,7.000000e+00
streetWidth,46636.0,1.815842e+01,4.167866e+00,1.000000,1.500000e+01,20.0,20.00,1.000000e+02
stairs,46826.0,6.839790e-01,4.649262e-01,0.000000,0.000000e+00,1.0,1.00,1.000000e+00
propertyAge,46826.0,2.454790e+00,6.496833e+00,0.000000,0.000000e+00,0.0,0.00,3.500000e+01
driverRoom,46826.0,3.558707e-01,4.787814e-01,0.000000,0.000000e+00,0.0,1.00,1.000000e+00
tent,46826.0,4.662581e-01,4.988655e-01,0.000000,0.000000e+00,0.0,1.00,1.000000e+00
patio,46826.0,7.693803e-01,4.212340e-01,0.000000,1.000000e+00,1.0,1.00,1.000000e+00
kitchen,46826.0,9.791142e-01,1.430037e-01,0.000000,1.000000e+00,1.0,1.00,1.000000e+00
outdoorRoom,46826.0,6.451117e-01,4.784846e-01,0.000000,0.000000e+00,1.0,1.00,1.000000e+00
garage,46826.0,9.078717e-01,2.892101e-01,0.000000,1.000000e+00,1.0,1.00,1.000000e+00
duplex,46826.0,2.976979e-01,4.572508e-01,0.000000,0.000000e+00,0.0,1.00,1.000000e+00
space,46826.0,3.800217e+02,2.814313e+02,50.000000,2.700000e+02,312.0,400.00,1.000000e+04
maidRoom,46826.0,7.678213e-01,4.222269e-01,0.000000,1.000000e+00,1.0,1.00,1.000000e+00
elevator,46826.0,2.357451e-01,4.244681e-01,0.000000,0.000000e+00,0.0,0.00,1.000000e+00
furnihsed,46826.0,7.873831e-02,2.693328e-01,0.000000,0.000000e+00,0.0,0.00,1.000000e+00
pool,46826.0,1.164097e-01,3.207190e-01,0.000000,0.000000e+00,0.0,0.00,1.000000e+00
basement,46826.0,3.767138e-02,1.904023e-01,0.000000,0.000000e+00,0.0,0.00,1.000000e+00
price,46824.0,2.347636e+06,2.782053e+06,1080.000000,1.180000e+06,1600000.0,2600000.00,1.000000e+08
square price,46824.0,6.088059e+03,4.515845e+03,3.428571,3.866667e+03,5000.0,7600.00,1.361446e+05

### checking for null values

In [62]:
df.isna().sum()

Unnamed: 0          0
front               0
rooms               0
lounges          1118
bathrooms           0
streetWidth       190
stairs              0
propertyAge         0
driverRoom          0
tent                0
patio               0
kitchen             0
outdoorRoom         0
garage              0
duplex              0
space               0
apartments          0
maidRoom            0
elevator            0
furnihsed           0
pool                0
basement            0
neighbourhood       0
location            0
price               2
square price        2
dtype: int64

## Handling Missing Data

In [63]:
df.lounges.isnull().sum()

1118

In [64]:
# To handle the plus sign with 7+
df['lounges'] = df['lounges'].str.replace('+','')

print(df['lounges'].isnull().sum())
df['lounges'] = df['lounges'].apply(pd.to_numeric)
# Take the mean for lounges missing data 
lounges_mean = round(df['lounges'].mean())
df['lounges'] = df['lounges'].fillna(lounges_mean)
print(df['lounges'].isnull().sum())

1118
0

In [65]:
# Take the mean for streetWidth missing data

streetWidth_mean = round(df['streetWidth'].mean())
df['streetWidth'] = df['streetWidth'].fillna(streetWidth_mean)
df['streetWidth'].isnull().sum()

0

In [66]:
# Take the mean for price missing data

price_mean = round(df['price'].mean())
df['price'] = df['price'].fillna(price_mean)
df['price'].isnull().sum()

0

In [67]:
# Take the mean for price missing data

squareprice_mean = round(df['square price'].mean())
df['square price'] = df['square price'].fillna(squareprice_mean)
df['square price'].isnull().sum()

0

In [68]:
df.isna().sum()

Unnamed: 0       0
front            0
rooms            0
lounges          0
bathrooms        0
streetWidth      0
stairs           0
propertyAge      0
driverRoom       0
tent             0
patio            0
kitchen          0
outdoorRoom      0
garage           0
duplex           0
space            0
apartments       0
maidRoom         0
elevator         0
furnihsed        0
pool             0
basement         0
neighbourhood    0
location         0
price            0
square price     0
dtype: int64

# Imports

In [69]:
from jupyter_dash import JupyterDash
from dash import html
from dash import dcc
from dash.dependencies import Input, Output

# Dashboard element shows the price distribution of each location

In [70]:
app = JupyterDash()
app.layout = html.Div(children = [
    dcc.Dropdown(
        id='location-dropdown',
        options=[{'label': location, 'value': location} for location in df['location'].unique()],
        value='All'
    ),
    dcc.Graph('my-graph')
])
@app.callback(
Output('my-graph', 'figure'),
Input('location-dropdown','value')
)
def update_graph(location):
    fillter_df = df[df['location']==location ]
    histogram = px.histogram(fillter_df , x='price')
    
    return histogram


if __name__ == '__main__':
    app.run_server(debug=False,port=8050)

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [28/Jan/2023 20:14:39] "GET /_alive_5c9737f7-e68d-4fdd-b1ef-a7dd8d872930 HTTP/1.1" 200 -

Dash app running on http://127.0.0.1:8050/

127.0.0.1 - - [28/Jan/2023 20:14:42] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:14:42] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Jan/2023 20:14:42] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Jan/2023 20:14:42] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Jan/2023 20:14:42] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:14:42] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:14:42] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:14:45] "POST /_dash-update-component HTTP/1.1" 200 -

# Dashborad element shows the price vs space scatter plot of each neighbourhood

In [71]:
app = JupyterDash()
app.layout = html.Div(children = [
    dcc.Dropdown(
        id='neighbourhood-dropdown',
        options=[{'label': neighbourhood, 'value': neighbourhood} for neighbourhood in df['neighbourhood'].unique()],
        value='All'
    ),
    dcc.Graph('my-graph')
])
@app.callback(
Output('my-graph', 'figure'),
Input('neighbourhood-dropdown','value')
)
def update_graph(neighbourhood):
    fillter_df = df[df['neighbourhood']==neighbourhood ]
    scatter = px.scatter(fillter_df , x='price',y='space')
    
    return scatter


if __name__ == '__main__':
    app.run_server(debug=False,port=8040)

 * Running on http://127.0.0.1:8040/ (Press CTRL+C to quit)
127.0.0.1 - - [28/Jan/2023 20:14:55] "GET /_alive_5c9737f7-e68d-4fdd-b1ef-a7dd8d872930 HTTP/1.1" 200 -

Dash app running on http://127.0.0.1:8040/

127.0.0.1 - - [28/Jan/2023 20:14:59] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:15:00] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Jan/2023 20:15:00] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Jan/2023 20:15:00] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Jan/2023 20:15:00] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:15:00] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:15:00] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:15:03] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:15:05] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:15:07] "POST /_dash-update-component HTTP/1.1" 200 -

# Dashborad element shows the price distribuation of for the chosen options

In [72]:
app = JupyterDash()
app.layout = html.Div(children = [
    html.H2('Neighborhood'),
    dcc.Dropdown(
    id='neighbourhood-dropdown',
    options=[{'label': location, 'value': location} for location in df['neighbourhood'].unique()],
    value='All'
    ),
    
    html.H2('Number of rooms'),
    dcc.Dropdown(
        id='room-dropdown',
        options=[{'label': room, 'value': room} for room in df['rooms'].unique()],
        value='All'
    ),
    
    html.H2('Age of property'),
    dcc.Dropdown(
    id='age-dropdown',
    options=[{'label': age, 'value': age} for age in df['propertyAge'].unique()],
    value='All'
    ),
    
    dcc.Graph('my-graph')
])
@app.callback(
Output('my-graph', 'figure'),
[Input('neighbourhood-dropdown','value'),Input('room-dropdown','value'),Input('age-dropdown','value')]
)
def update_graph(neighbourhood,room,age):
    fillter_df = df[(df['rooms']==room) & (df['propertyAge']==age) & (df['neighbourhood']==neighbourhood)]
    histogram = px.histogram(fillter_df , x='price')
    return histogram


if __name__ == '__main__':
    app.run_server(debug=False,port=8030)

 * Running on http://127.0.0.1:8030/ (Press CTRL+C to quit)
127.0.0.1 - - [28/Jan/2023 20:16:03] "GET /_alive_5c9737f7-e68d-4fdd-b1ef-a7dd8d872930 HTTP/1.1" 200 -

Dash app running on http://127.0.0.1:8030/

127.0.0.1 - - [28/Jan/2023 20:16:05] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:16:05] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Jan/2023 20:16:05] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Jan/2023 20:16:05] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Jan/2023 20:16:05] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:16:05] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:16:05] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Jan/2023 20:16:05] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Jan/2023 20:16:05] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Jan/2023 20:16:05] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:16:07] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:16:08] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:16:09] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:16:12] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jan/2023 20:16:13] "POST /_dash-update-component HTTP/1.1" 200 -